@import "variables";
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.feed__main {
  @include hide-scrollbar;
  overflow-y: auto;
  height: 100%;
}

.feed__post {
  padding: 20px 10px;
  border-bottom: 1px solid $grayEE;
}

.feed__sidebar {
  height: 100%;
  background-color: $green;
  
  a {
    color: $white;
  }
  
  .profile {
    text-align: center;
    width: 80%;
    margin: auto;
    
    .fa-user {
      font-size: 80px;
      
      &:hover + .image-upload {
        display: inline-block;
      }
    }
      
    .image-upload {
      position: absolute;
/*      top: 15px;*/
/*      right: 60px;*/
      border-radius: 2px;
      background-color: $white;
      color: $green;
      padding: 3px 6px;
      opacity: .6;
      display: none;
      font-size: 24px;
      &:hover {
        display: inline-block;
      }
    }
  }
}

.post--new {
  textarea {
    min-height: 300px;
  }
  .note {
    float: left;
    font-style: italic;
    color: $grayCC;
    
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}