@import "variables";
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.feed__main {
  overflow-y: auto;
  height: 100%;
}

.feed__post {
  padding: 20px 10px;
  border-bottom: 1px solid $grayEE;
}

.feed__sidebar {
  height: 100%;
  background-color: $green;
  
  .profile {
    i {
      font-size: 80px;
    }
    
    text-align: center;
    width: 80%;
    margin: auto;
  }
}

.post--new {
  textarea {
    min-height: 300px;
  }
  .note {
    float: left;
    font-style: italic;
    color: $grayCC;
    
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}